<article class=" md:pl-24 flex w-full flex-col items-center">
  <div class="container text-gray-300 lg:px-6 w-11/12">
    <div class="space-y-6">
      <h2 class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">Dlaczego my?</h2>
      <p class="text-lg">
        Posiadamy wieloletnie doświadczenie, wiedzę, środki i możliwości aby
        pomóc zarówno podmiotom gospodarczym, instytucjom finansowym i
        ubezpieczeniowym oraz osobom prywatnym w rozwiązaniu Państwa problemów.
        Do każdej powierzonej nam sprawy skrupulatnie się przygotowujemy i
        dokładamy wszelkich starań, by sprawnie ją rozwiązać. Gwarantujemy
        profesjonalizm, lojalność i dyskrecję. Zatrudniamy tylko
        licencjonowanych detektywów z wieloletnim doświadczeniem. Cenę usługi
        dostosowujemy do możliwości finansowych Klienta. Prowadzimy działania na
        terenie kraju i za granicą.
      </p>
    </div>
    <div class="space-y-6 mt-16">
      <h2 class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">
        Co możemy dla Ciebie zrobić?
      </h2>
      <p class="text-lg">
        Świadczymy usługi detektywistyczne i windykacyjne dla osób prywatnych
        oraz podmiotów gospodarczych. Poufność, profesjonalizm, 15-letnie
        doświadczenie oraz indywidualne podejście do klienta to nasze atuty.
        Oferujemy pomoc w każdej sprawie. Sprawa Klienta – staje się naszą
        wspólną sprawą.
      </p>
    </div>
    <div class="space-y-6 mt-16">
      <h2 class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">Jak działamy?</h2>
      <p class="text-lg">
        Jaran to także biuro windykacyjne działające sprawnie, szybko i
        stanowczo. Windykacja odbywa się w granicach prawa, oferujemy także
        doradztwo i asystę prawną. Centrala firmy znajduje się w mieście
        stołecznym Warszawa, oddział posiadamy także w Poznaniu. Serdecznie
        zapraszamy wszystkich zainteresowanych!
      </p>
    </div>
    
  </div>
</article>
