<div
  class="hidden xl:flex flex-col bg-red-700 mr-32 rounded-2xl text-gray-300 h-full text-left text-lg md:text-xl"
>
  <div class="py-10 px-10 w-96">
    <h3 class="text-4xl pb-2 text-white font-bold ">Spotkajmy się</h3>
    <p>
      Nasze biuro znajduje się w odległości niespełna 400 metrów od Pałacu
      Kultury i Nauki. Zapraszamy na ulicę Poznańską w Warszawie, choć możemy
      spotkać się w innym uzgodnionym miejscu.
    </p>

    <h3 class="py-3 text-4xl text-white font-bold">Adres</h3>
    <ul>
      <li>ul. Poznańska 24 lok. 21</li>
      <li>00-685 Warszawa</li>
      <li>tel: +48 22 622 14 08</li>
      <li>tel: +48 669 981 964</li>
      <li>email: biuro@jaran.com.pl</li>
    </ul>
  </div>
</div>
