<div
  class="pl-16 grid mx-auto space-y-0 md:grid-cols-2 mt-24 text-lg leading-6 bg-gray-900 text-gray-300 "
>
  <div class="space-y-6 px-4 sm:px-16 md:px-4">
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Funkcjonujemy na rynku detektywistycznym od 2006 roku.
        </p>
      </div>
    </div>
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Udzielamy pomocy w sprawach gospodarczych, karnych, cywilnych,
          rozwodowych, spadkowych, administracyjnych, innych.
        </p>
      </div>
    </div>
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Mamy Oddziały we wszystkich miastach Polski, działamy na terenie
          Europy, państw dawnego ZSRR oraz Stanów Zjednoczonych Ameryki.
        </p>
      </div>
    </div>
  </div>
  <div class="space-y-6 px-4 sm:px-16 md:px-4 pt-6 md:pt-0">
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Zatrudniamy licencjonowanych detektywów, byłych pracowników CBA,
          policji i innych służb specjalnych (50% to kobiety).
        </p>
      </div>
    </div>
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Dysponujemy zespołami analityczno – dochodzeniowymi, obserwacyjnymi,
          eksperckimi, windykacyjnymi i technicznymi.
        </p>
      </div>
    </div>
    <div class="flex flex-row max-w-md">
      <div class="mb-4 mr-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-red-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </div>
      </div>
      <div>
        <p class="text-lg">
          Pracujemy 24 h na dobę, przez 7 dni w tygodniu, 365 dni w roku.
        </p>
      </div>
    </div>
  </div>
</div>
