<article class="pb-2">
  <div>
    <h2
      class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
    >
      Co oferujemy?
    </h2>
    <p class="text-lg md:text-xl pt-5">
      Skuteczne ściąganie długów i należności to sprawa wymagająca doświadczenia
      i odpowiedniego podejścia. Każda windykacja w naszej firmie poprzedzona
      jest dokładną analizą, dzięki której opracowuje się sukcesywny plan
      działania. Każdy Klient ma swoją, odrębną historię, dlatego ważne jest aby
      do sprawy podchodzić indywidualnie. Jeżeli jesteś zainteresowany naszymi
      usługami, zapraszamy do Centrali naszej firmy w Warszawie.
    </p>
  </div>
  <div>
    <div class="pt-5 text-xl">
      <ul class="text-lg md:text-xl">
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Specjalistyczne dochodzenie należności finansowych.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Odnajdywanie majątku ukrytego i odzyskiwanie mienia.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Prowadzenie bezpośredniej windykacji przedsądowej, wspomaganie windykacji
          sądowej i egzekucyjnej.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Czynności windykacyjne po dokładnym rozpoznaniu sytuacji finansowej i majątkowej
          dłużnika oraz jego najbliższych - wywiad gospodarczy.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Poszukiwanie nieuczciwego dłużnika, ustalanie miejsca pobytu, jego aktywów.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Prowadzenie bezpośrednich negocjacji, postępowań ugodowych, ustalanie warunków
          i monitorowanie spłaty należności.
        </li>
      </ul>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Doradztwo prawne, operacyjne i wspieranie wierzyciela na każdym etapie postępowania.
      </li>
    </div>
  </div>

  <div class="pt-5">
    <h2
      class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
    >
      Metody, narzędzia i techniki działania.
    </h2>
    <div class="pt-5">
      <ul class="text-lg md:text-xl">
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Tworzenie zespołów analityczno-windykacyjnych do prowadzonej sprawy, analiza
          materiałów i wytyczenie dróg postępowania.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Poszukiwanie majątku dłużnika, także ukrytego oraz zbytego.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Ustalanie miejsca pobytu dłużnika.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Niejawna obserwacja osób, obiektów, pojazdów.
        </li>
        <li class="flex text-body-color mb-2">
          <span class="rounded-full mr-2 text-primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="fill-current"
            >
              <path
                style="fill: #dc2626"
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                style="fill: #dc2626"
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          Doradztwo prawne, operacyjne i wspieranie Klienta na każdym etapie postępowania.
        </li>
      </ul>
    </div>
  </div>
</article>
