---
import ContactButton from "../ContactButton.astro";
import Sidebar from "../Sidebar.astro";
import OfferDetective from "./OfferDetective.astro";
---


<section class="bg-gray-900 pt-36 lg:pt-52 lg:pb-24 ">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-12">
    <div class="flex flex-col w-full mb-12 text-center content-center">
      <h1 class="text-7xl font-thin text-gray-300 max-w-3xl mx-auto racking-normal leading-tight pb-5">
        {Astro.props.title}
      </h1>
      <ContactButton></ContactButton>
    </div>
  </div>
</section>