---
import CardMain from "../components/CardMain_en.astro";
import Hero from "../components/Hero_en.astro";
import Sidebar from "../components/Sidebar_en.astro";
import Layout from "../layouts/Layout_en.astro";
---

<Layout title="JARAN Private investigators Warsaw">
  <main>
    <Hero />
    <div class="bg-gray-900 flex flex-row pt-5 md:pt-12 xl:pt-16">
      <div class="flex flex-col bg-gray-900">
        <CardMain />
      </div>
      <Sidebar />
    </div>
  </main>
</Layout>
