<div class="pb-5">
  <h2 class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">Zawsze mamy dla Ciebie czas</h2>
  <p class="text-lg pt-2">
    Ceny oferowanych usług każdorazowo są uzgadniane z Klientem. Zależą od
    stopnia skomplikowania sprawy, użytych środków technicznych i sił służących
    uzyskaniu skutecznego rezultatu. W sprawach windykacyjnych cena usługi
    zawiera opłatę wstępną (na poczet bieżących kosztów związanych z pełnym
    rozpoznaniem dłużnika) oraz uzgodniony procent od zwindykowanego długu. <br/><bold
      class="font-black underline underline-offset-2"
      >Porady i konsultacje detektywistyczne są bezpłatne.</bold
    > Nawet jeśli nie skorzystasz z naszych usług po spotkaniu będziesz mieć pełniejszą
    wiedzę na temat rozwiązania Twego Problemu.
  </p>
</div>
<div>
  <h2 class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">
    Nasz klient na zawsze pozostaje naszym klientem
  </h2>
  <p class="text-lg pt-2">
    Po zrealizowaniu sprawy przedstawiamy Klientowi, szczegółowe sprawozdanie
    (raport detektywistyczny) z wykonanych czynności podpisane przez
    licencjonowanego detektywa wraz z zebraną dokumentacją (obserwacja,
    ustalenia), przedstawiając wnioski służące skutecznemu rozwiązywaniu jego
    problemów. W razie konieczności zapewniamy również kompleksową obsługę
    prawną, komorniczą i psychologiczną.
  </p>
</div>
