<div class="pb-2">
  <h2
    class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
  >
    Co oferujemy?
  </h2>
  <div class="pt-5">
    <ul class="text-lg">
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Wywiad gospodarczy, rozpoznawanie i monitorowanie wskazanych firm, ich potencjału
        finansowego, technicznego, osobowego, ocena wiarygodności handlowej podmiotów
        gospodarczych
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Ustalanie struktur organizacyjnych, stosunków własnościowych, powiązań personalnych,
        finansowych przedsiębiorców i osób
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Rozpoznawanie nieuczciwej konkurencji, pomoc w jej zwalczaniu
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Rozpracowywanie osób, prześwietlanie ich przeszłości, kontaktów, życiorysów,
        pod kątem oceny zagrożeń i korzyści dla Firmy
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Zbieranie informacji o bezprawnym wykorzystywaniu nazw handlowych, znaków
        towarowych oraz związanych z ujawnieniem tajemnic Firmy
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Sprawdzanie dokumentów kredytowych i oświadczeń finansowych na potrzeby instytucji
        finansowych, bankowych, leasingowych, innych
      </li>
    </ul>
  </div>
</div>

<div class="">
  <h2
    class="text-5xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
  >
    Metody, narzędzia i techniki działania
  </h2>
  <div class="pt-5">
    <ul class="text-lg">
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Tworzenie ekspertskich zespołów zadaniowych do konkretnej sprawy
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Działania ofensywne w celu uzyskania informacji, dokumentów, przedmiotów,
        mających żywotne znaczenie dla strategicznych celów Firmy
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Niejawna obserwacja wskazanych osób, obiektów, pojazdów
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Analiza psychologiczna i charakterologiczna przeciwnika biznesowego
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Wykorzystywanie nowoczesnych technik specjalnych w prowadzonych sprawach
      </li>
      <li class="flex text-body-color mb-2">
        <span class="rounded-full mr-2 text-primary">
          <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              style="fill: #dc2626"
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            <path
              style="fill: #dc2626"
              d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
            ></path>
          </svg>
        </span>
        Zbieranie dowodów wskazujących na nieuczciwą działalność konkurencji
      </li>
    </ul>
  </div>
</div>
