<div>
  <div><h2 class="text-4xl sm:text-6xl pb-2 text-white bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">Napisz do nas!</h2></div>
  <div class="text-gray-300 h-full text-left text-lg md:text-2xl lg:text-2xl pt-5">
    <p>W biurze detektywistycznym Jaran zawsze mamy dla Ciebie czas. Skontaktuj się z nami, zostawiając swoje imię oraz adres e-mail. Opisz swoją sprawę oraz sposób, w jaki możemy Ci pomóc. Otrzymasz od nas odpowiedź najszybciej, jak to możliwe.</p>
  </div>
</div>
