<artice>
<div class="pb-5">
  <h2 class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5">
  We always have time for you!
  </h2>
  <p class="text-lg md:text-xl pt-5">
    After the case is concluded, we present the Client with a detailed report detective's
report on the activities performed, signed by a licensed detective together with the
collected documentation (observation, photographic and video documentation,
findings), presenting conclusions for effective solutions to the Client's problems.
  </p>
</div>
  <ul class="text-lg md:text-xl" >
    <li class="pt-2">
      - The prices of services are individually determined with the Client and
adjusted to the Client's financial abilities.
    </li>
    <li class="pt-2">
      - Prices are dependent on the complexity of the case, the technical
requirements and the efforts to achieve an successful result.
    </li>
    <li class="pt-2">
      - Visit, talk with us. Even if you won&#39;t use our services, following the meeting
you will have a better knowledge about solving your problem.
    </li>
    <li class="pt-2">
      - Detective advice and consultation is free of charge.
    </li>
  </ul>
</artice>