<div
  class="px-16 py-24 lg:px-32 lg:py-32 bg-gradient-to-br from-blue-50 to-blue-100 flex"
>
  <div
    class="container lg:px-6 text-gray-600 md:px-6 xl:px-6 md:w-7/12 lg:w-7/12"
  >
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12 place-content-between"
    >
      <div class="space-y-6">
        <h2 class="text-2xl text-blue-900 font-bold md:text-5xl">
          Dlaczego my?
        </h2>
        <div class="space-y-4">
          <p class="text-gray-600">
            Posiadamy wieloletnie doświadczenie, wiedzę, środki i możliwości aby
            pomóc zarówno podmiotom gospodarczym, instytucjom finansowym i
            ubezpieczeniowym oraz osobom prywatnym w rozwiązaniu Państwa
            problemów. Do każdej powierzonej nam sprawy skrupulatnie się
            przygotowujemy i dokładamy wszelkich starań, by sprawnie ją
            rozwiązać. Gwarantujemy profesjonalizm, lojalność i dyskrecję.
            Zatrudniamy tylko licencjonowanych detektywów z wieloletnim
            doświadczeniem. Cenę usługi dostosowujemy do możliwości finansowych
            Klienta. Prowadzimy działania na terenie kraju i za granicą.
          </p>
        </div>
      </div>
    </div>
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12 place-content-between"
    >
      <div class="space-y-6 mt-10">
        <h2 class="text-2xl text-blue-900 font-bold md:text-5xl">
          Co możemy dla Ciebie zrobić?
        </h2>
        <div class="space-y-4">
          <p class="text-gray-600">
            Świadczymy usługi detektywistyczne i windykacyjne dla osób
            prywatnych oraz podmiotów gospodarczych. Poufność, profesjonalizm,
            15-letnie doświadczenie oraz indywidualne podejście do klienta to
            nasze atuty. Oferujemy pomoc w każdej sprawie. Sprawa Klienta –
            staje się naszą wspólną sprawą.
          </p>
        </div>
      </div>
    </div>
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12 place-content-between"
    >
      <div class="space-y-6 mt-10">
        <h2 class="text-2xl text-blue-900 font-bold md:text-5xl">
          Jak działamy?
        </h2>
        <div class="space-y-4">
          <p class="text-gray-600">
            Jaran to także biuro windykacyjne działające sprawnie, szybko i
            stanowczo. Windykacja odbywa się w granicach prawa, oferujemy także
            doradztwo i asystę prawną. Centrala firmy znajduje się w mieście
            stołecznym Warszawa, oddział posiadamy także w Poznaniu. Serdecznie
            zapraszamy wszystkich zainteresowanych!
          </p>
        </div>
        <div>
          <ul>
            <li>Firmą kieruje kobieta a wiadomo, „gdzie diabeł nie może…”</li>
            <li class="mt-3">
              Funkcjonujemy na rynku detektywistycznym od 2006 roku.
            </li>
            <li class="mt-3">
              Udzielamy pomocy w sprawach gospodarczych, karnych, cywilnych,
              rozwodowych, spadkowych, administracyjnych, innych.
            </li>
            <li class="mt-3">
              Mamy Oddziały we wszystkich miastach Polski, działamy na terenie
              Europy, państw dawnego ZSRR oraz Stanów Zjednoczonych Ameryki.
            </li>
            <li class="mt-3">
              Zatrudniamy licencjonowanych detektywów, byłych pracowników CBA,
              policji i innych służb specjalnych (50% to kobiety).
            </li>
            <li class="mt-3">
              Dysponujemy zespołami analityczno – dochodzeniowymi,
              obserwacyjnymi, eksperckimi, windykacyjnymi i technicznymi.
            </li>
            <li class="mt-3">
              Pracujemy 24 h na dobę, przez 7 dni w tygodniu, 365 dni w roku.
            </li>
          </ul>
        </div>
        <a
          href="#"
          class="block w-full py-3 px-6 text-center rounded-full transition bg-blue-200 hover:bg-blue-100 active:bg-blue-300 focus:bg-blue-100 sm:w-max"
        >
          <span class="block text-blue-900 font-semibold text-sm">
            Skontaktuj się z nami
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden lg:flex flex-col bg-red-500 place-self-center ml-20 lg:w-4/12">
    <p>testsdawdasvadgaifgbaeoifgbhp</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
  </div>
</div>
