<article class="xl:pl-24 flex w-full flex-col items-center bg-gray-900">
  <div class="text-gray-300 lg:px-6 w-11/12">
    <div class="">
      <h2
        class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
      >
        Why should you choose us?
      </h2>
      <div
        class="flex flex-col mx-auto space-y-0 pt-5 text-lg md:text-xl leading-6 bg-gray-900 text-gray-300"
      >
        <div class="px-4 sm:px-16 md:px-4">
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We have successfully worked on the European market since 2006.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We have met all authorities requirements relating with operating
                private investigation company in European Union.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We operate in Poland, Europe and USA.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We hire only professional and licensed private detectives, who
                give a warranty of highly confidential and high level services
                approach. Many of our employees are women.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                The company is managed by a woman.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                Our company offers the investigation support in a business,
                criminal, insurance, civil, divorce, inheritance, and other
                cases.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                Our Team includes analysts, private detectives and technical
                (surveillance) experts.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We never leave our Customers, when the case is terminated -
                never before the tasks are completed.
              </p>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mb-4 mr-4">
              <div
                class="flex items-center justify-center w-6 h-6 rounded-full bg-red-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                  ></path>
                </svg>
              </div>
            </div>
            <div>
              <p class="text-lg md:text-xl">
                We work 24 hours a day 7 days a week.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <h2
        class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
      >
        What can we do for you?
      </h2>
      <p class="text-lg md:text-xl pt-5">
        We provide detective and debt collection services for individuals and
        business entities. Confidentiality, professionalism, 15 years of
        experience and an individual approach to the client are our strengths.
        We offer help in every matter. Client's case - it becomes our common
        case.
      </p>
    </div>
  </div>
</article>
