<article class="xl:pl-24 flex w-full flex-col items-center bg-gray-900">
  <div class="container text-gray-300 lg:px-6 w-11/12">
    <div class="space-y-6">
      <h2
        class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
      >
        Dlaczego my?
      </h2>
      <p class="text-lg md:text-xl">
        Posiadamy wieloletnie doświadczenie, wiedzę, środki i możliwości aby
        pomóc zarówno podmiotom gospodarczym, instytucjom finansowym i
        ubezpieczeniowym oraz osobom prywatnym w rozwiązaniu Państwa problemów.
        Do każdej powierzonej nam sprawy skrupulatnie się przygotowujemy i
        dokładamy wszelkich starań, by sprawnie ją rozwiązać. Gwarantujemy
        profesjonalizm, lojalność i dyskrecję. Zatrudniamy tylko
        licencjonowanych detektywów z wieloletnim doświadczeniem. Cenę usługi
        dostosowujemy do możliwości finansowych Klienta. Prowadzimy działania na
        terenie kraju i za granicą.
      </p>
    </div>
    <div class="space-y-6 mt-16">
      <h2
        class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
      >
        Co możemy dla Ciebie zrobić?
      </h2>
      <p class="text-lg md:text-xl">
        Świadczymy usługi detektywistyczne i windykacyjne dla osób prywatnych
oraz podmiotów gospodarczych. Poufność, profesjonalizm, doświadczenie
oraz indywidualne podejście do klienta to nasze atuty. Oferujemy pomoc w
każdej sprawie. Sprawa Klienta - staje się naszą wspólną sprawą.
      </p>
    </div>
    <div class="space-y-6 mt-16">
      <h2
        class="text-4xl sm:text-6xl font-thin text-start bg-gradient-to-r from-red-700 to via-gray-900 py-3 rounded-lg pl-5"
      >
        Jak działamy?
      </h2>
      <p class="text-lg md:text-xl">
        Jak działamy?
Jaran to także biuro windykacyjne działające sprawnie, szybko i
stanowczo. Windykacja odbywa się w granicach prawa, oferujemy także
doradztwo i asystę prawną. Centrala firmy znajduje się w Warszawie.
Serdecznie zapraszamy wszystkich zainteresowanych!
Funkcjonujemy na rynku detektywistycznym od 2006 roku.
Udzielamy pomocy w sprawach gospodarczych, karnych, cywilnych,
rozwodowych, spadkowych, administracyjnych, innych.
Mamy Oddziały we wszystkich miastach Polski, działamy na terenie Europy,
państw dawnego ZSRR oraz Stanów Zjednoczonych Ameryki.
Zatrudniamy licencjonowanych detektywów, byłych pracowników policji i
innych służb specjalnych.
Dysponujemy zespołami analityczno – dochodzeniowymi, obserwacyjnymi,
eksperckimi, windykacyjnymi i technicznymi. Współpracujemy z prawnikami
w sprawach wymagających ich wsparcia.
Pracujemy 24 h na dobę, przez 7 dni w tygodniu, 365 dni w roku.

      </p>
    </div>
  </div>
</article>
