<div class="px-16 py-24 lg:px-16 lg:py-24 bg-gray-900 flex">
  <div class="container text-gray-200 lg:px-6 xl:px-6 lg:w-9/12">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 items-center lg:gap-34 place-content-between"
    >
      <div class="space-y-6">
        <h2 class="text-2xl text-blue-900 font-bold md:text-5xl">
          Dlaczego my?
        </h2>
        <div class="space-y-4">
          <p class="">
            Posiadamy wieloletnie doświadczenie, wiedzę, środki i możliwości aby
            pomóc zarówno podmiotom gospodarczym, instytucjom finansowym i
            ubezpieczeniowym oraz osobom prywatnym w rozwiązaniu Państwa
            problemów. Do każdej powierzonej nam sprawy skrupulatnie się
            przygotowujemy i dokładamy wszelkich starań, by sprawnie ją
            rozwiązać. Gwarantujemy profesjonalizm, lojalność i dyskrecję.
            Zatrudniamy tylko licencjonowanych detektywów z wieloletnim
            doświadczeniem. Cenę usługi dostosowujemy do możliwości finansowych
            Klienta. Prowadzimy działania na terenie kraju i za granicą.
          </p>
        </div>
      </div>
    </div>
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12 place-content-between"
    >
      <div class="space-y-6 mt-10">
        <h2 class="text-2xl text-blue-900 font-bold md:text-5xl">
          Co możemy dla Ciebie zrobić?
        </h2>
        <div class="space-y-4">
          <p class="">
            Świadczymy usługi detektywistyczne i windykacyjne dla osób
            prywatnych oraz podmiotów gospodarczych. Poufność, profesjonalizm,
            15-letnie doświadczenie oraz indywidualne podejście do klienta to
            nasze atuty. Oferujemy pomoc w każdej sprawie. Sprawa Klienta –
            staje się naszą wspólną sprawą.
          </p>
        </div>
      </div>
    </div>

    <div>
      <div
        class="flex flex-col space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
      >
        <div
          class="space-y-6 mt-10"
        >
          <h2
            class="text-2xl font-bold md:text-5xl"
          >
            Jak działamy?
          </h2>
          <div class="space-y-4">
          <p class="text-base text-gray-300 md:text-lg">
            Jaran to także biuro windykacyjne działające sprawnie, szybko i
            stanowczo. Windykacja odbywa się w granicach prawa, oferujemy także
            doradztwo i asystę prawną. Centrala firmy znajduje się w mieście
            stołecznym Warszawa, oddział posiadamy także w Poznaniu. Serdecznie
            zapraszamy wszystkich zainteresowanych!
          </p>
          </div>
        </div>
        <div
          class="grid max-w-screen-lg mx-auto space-y-6 lg:grid-cols-2 lg:space-y-0 lg:divide-x"
        >
          <div class="space-y-6 sm:px-16">
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">Funkcjonujemy na rynku detektywistycznym od 2006 roku.</h6>
              
              </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">
                  Udzielamy pomocy w sprawach gospodarczych, karnych, cywilnych, rozwodowych, spadkowych, administracyjnych, innych.
                </h6>
                
              </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">Mamy Oddziały we wszystkich miastach Polski, działamy na terenie Europy, państw dawnego ZSRR oraz Stanów Zjednoczonych Ameryki.</h6>
                
              </div>
            </div>
          </div>
          <div class="space-y-6 sm:px-16">
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">
                  Zatrudniamy licencjonowanych detektywów, byłych pracowników CBA, policji i innych służb specjalnych (50% to kobiety).
                </h6>
                
              </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">
                  Dysponujemy zespołami analityczno – dochodzeniowymi, obserwacyjnymi, eksperckimi, windykacyjnymi i technicznymi.
                </h6>
                
              </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
              <div class="mb-4 mr-4">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
                >
                  <svg
                    class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                    stroke="currentColor"
                    viewBox="0 0 52 52"
                  >
                    <polygon
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="none"
                      points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                  </svg>
                </div>
              </div>
              <div>
                <h6 class="mb-3 text-xl font-bold leading-5">
                  Pracujemy 24 h na dobę, przez 7 dni w tygodniu, 365 dni w roku.
                </h6>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
