<div
  class="hidden xl:flex flex-col bg-red-700 mr-32 rounded-2xl text-gray-300 h-full text-left text-lg md:text-xl"
>
  <div class="py-10 px-10 w-96">
    <h3 class="text-4xl pb-2 text-white font-bold ">Let us meet</h3>
    <p>
      Our office is located in the center of Warsaw, less than 400 meters from the Palace of Culture and Science. We invite you to Poznańska Street in Warsaw, however, we can meet in another convenient place.
    </p>

    <h3 class="py-3 text-4xl text-white font-bold">Address</h3>
    <ul>
      <li>ul. Poznańska 24 lok. 21</li>
      <li>00-685 Warszawa</li>
      <li>tel: +48 22 622 14 08</li>
      <li>tel: +48 669 981 964</li>
      <li>email: biuro@jaran.com.pl</li>
    </ul>
  </div>
</div>
