<footer class="bg-RussianVelvet fixed bottom-0 w-full text-NavajoWhite">
  <div class="px-4 mb-10 mx-auto max-w-screen-xl sm:px-6 lg:px-4">
    <div class="mt-16 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-8">
      <div class="max-w-sm mx-auto lg:max-w-none">
        <p class="mt-4 text-center lg:text-left lg:text-lg">
          Profesjonalna firma świadcząca usługi detektywistyczne i windykacyjne.
          Posiadamy doświadczenie, umiejętności i determinację w rozwiązywaniu
          Twoich trudnych spraw. Sprawdź nas!
        </p>
      </div>

      <div
        class="text-center grid grid-cols-1 gap-x-8 lg:grid-cols-3 lg:text-left"
      >
        <div>
          <h3 class="font-medium">Przydatne linki</h3>

          <div class="flex flex-col mt-6 space-y-1">
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Detektyw
            </a>
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Windykacja
            </a>
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Informacja Gospodarcza
            </a>
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Ochrona biznesu
            </a>
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Cennik
            </a>
            <a class="transition hover:text-NavajoWhite-700/75" href="/">
              Kontakt
            </a>
          </div>
        </div>

        <div>
          <h3 class="font-medium text-gray-900">Dane firmy</h3>

          <div class="flex flex-col mt-6 space-y-1">
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              Zezwolenie MSWiA RD-45/2008
            </p>
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              Polisa Ubezpieczeniowa OC Zawodowej
            </p>
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              Licencja nr 0003798
            </p>
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              NIP: 526-139-57-09
            </p>
          </div>
        </div>

        <div>
          <h3 class="font-medium text-gray-900">Kontakt</h3>

          <div class="flex flex-col mt-6 space-y-1">
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              ul. Poznańska 24 lok. 21
            </p>

            <p class="text-gray-700 transition hover:text-gray-700/75" >
              00-685 Warszawa
            </p>

            <p class="text-gray-700 transition hover:text-gray-700/75" >
              tel: +48 22 622 14 08
            </p>
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              tel: +48 669 981 964
            </p>
            <p class="text-gray-700 transition hover:text-gray-700/75" >
              email: biuro@jaran.com.pl
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
