
<footer>
    <div class="w-full bg-gradient-to-t from-stone-900 via-stone-900 to-stone-900">
        <div class="container m-auto px-6 py-6 space-y-8 text-gray-200 md:px-12 lg:px-20">
            <div class="grid grid-cols-8 gap-6 md:gap-0">
                <div class="col-span-8 md:col-span-2 lg:col-span-3">
                    <div class="flex gap-6 items-center justify-between py-6 md:py-0 md:border-none md:block md:space-y-6">
                        <img src="logo-stare.png" alt="logo jaran"/>
                        <p>Profesjonalna firma świadcząca usługi detektywistyczne i windykacyjne. Posiadamy doświadczenie, umiejętności i determinację w rozwiązywaniu Twoich trudnych spraw. Sprawdź nas!</p>
                    </div>
                </div>
                <div class="col-span-8 md:col-span-6 lg:col-span-5">
                    <div class="md:pl-16 pb-16 grid grid-cols-2 gap-6 sm:grid-cols-3">
                        <div>
                            <h6 class="text-lg font-medium text-gray-200">Przydatne linki</h6>
                            <ul class="list-inside mt-4 space-y-4">
                                
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Detektyw</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Windykacja</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Informacja Gospodarcza</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Ochrona biznesu</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Cennik</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-red-600 transition">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="text-lg font-medium text-gray-200">Dane firmy</h6>
                            <p class="list-inside mt-4 space-y-4">Zezwolenie MSWiA RD-45/2008</p>
                            <p class="list-inside mt-4 space-y-4">Polisa Ubezpieczeniowa OC Zawodowej</p>
                            <p class="list-inside mt-4 space-y-4">Licencja nr 0003798</p>
                            <p class="list-inside mt-4 space-y-4">NIP: 526-139-57-09</p>
                        </div>
                        <div>
                            <h6 class="text-lg font-medium text-gray-200">Kontakt</h6>
                            <p class="list-inside mt-4 space-y-4">ul. Poznańska 24 lok. 21</p>
                            <p class="list-inside mt-4 space-y-4">00-685 Warszawa</p>
                            <p class="list-inside mt-4 space-y-4">tel: +48 22 622 14 08</p>
                            <p class="list-inside mt-4 space-y-4">tel: +48 669 981 964</p>
                            <p class="list-inside mt-4 space-y-4">email: biuro@jaran.com.pl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                                