---
import ContactButton from "./ContactButton_en.astro";
import { Image } from "@astrojs/image/components";
---

<header class="pt-20 sm:pt-44 xl:pt-40 text-xl box w-full h-screen">
  |<Image
    src={"/backgrounds/city.jpg"}
    alt="Photo of Wasaw taken from skyscraper"
    height={"1080"}
    width={"1920"}
    format={"webp"}
    class="absolute flex -z-10 brightness-50 top-0 mx-auto object-cover min-h-screen"
  />
  <div class="items-center">
    <div class="w-full text-center">
      <h1
        class="text-4xl sm:text-7xl font-medium text-white z-50 pb-4 max-w-xs sm:max-w-4xl mx-auto racking-normal leading-tight"
      >
        Detectives <br />Private Investigator <span class="uppercase">jaran</span
        >
      </h1>

      <p
        class="text-lg sm:text-2xl max-w-xs sm:max-w-xl md:max-w-3xl mx-auto mt-4 text-white font-light tracking-wide"
      >
        We provide investigation and debt collection services for a private and
        individual Customers. The attributes which articulates us are facile to
        define: confidentiality,15 year of professional experience on the
        European market and individual approach to every case. Each projects is
        considered as a our own project, and we strongly believe that the
        impossible issues are not exist.
      </p>

      <div class="flex flex-wrap justify-center mt-4 md:mt-8 gap-4">
        <ContactButton />
      </div>
    </div>
  </div>
</header>
