<section class="px-4 pt-36 text-xl bg-gray-900 box h-full lg:pt-24 lg:pb-10">
  <div class="lg:px-0 mx-auto lg:mt-24 lg:items-center lg:flex">
    <div class="max-full mx-auto text-center">
      <h1
        class="text-5xl font-extrabold text-transparent text-gray-300 pb-8 md:max-w-xl mx-auto"
      >
        Prywatne biuro detektywistyczne <span>JARAN</span>
      </h1>

      <p
        class="max-w-2xl mx-auto mt-4 leading-relaxed text-xl text-gray-300"
      >
        Świadczymy usługi detektywistyczne i windykacyjne dla osób prywatnych
        oraz podmiotów gospodarczych. Poufność, profesjonalizm, 15-letnie
        doświadczenie oraz indywidualne podejście do klienta to nasze atuty.
        Oferujemy pomoc w każdej sprawie. Sprawa Klienta staje się naszą wspólną
        sprawą.
      </p>

      <div class="flex flex-wrap justify-center mt-8 gap-4">
        <button
          type="button"
          id="form_focus"
          class="block px-8 py-3 font-medium text-white bg-blue-600 border border-blue-600 rounded w-auto active:text-opacity-75 hover:bg-transparent"
        >
          skontaktuj się z nami
        </button>
      </div>
    </div>
  </div>
</section>
