---
import ContactButton from "./ContactButton.astro";
---

<header class="pt-44 xl:pt-52 text-xl box  w-full h-screen">
  |<img src="https://pixabay.com/get/g9a630a39f7322eacb28531213fc628cbfc5067c3dab05b55208a758c347917480c8551baf4297b0bb8f684e083150da3.jpg" alt="" class="absolute flex -z-10 brightness-50 top-0 mx-auto object-cover min-h-screen"/>
  <div class="items-center">
    <div class="w-full text-center">
      <h1
        class="text-5xl sm:text-7xl font-medium text-white z-50 pb-8 md:max-w-3xl mx-auto racking-normal leading-tight"
      >
        Prywatny detektyw, <br />Biuro detektywistyczne <span class="uppercase"
          >jaran</span
        >
      </h1>

      <p
        class="max-w-xl md:max-w-2xl lg:max-w-3xl mx-auto mt-4 text-21xl text-white font-light tracking-wide"
      >
        Świadczymy usługi detektywistyczne i windykacyjne dla osób prywatnych
        oraz podmiotów gospodarczych. Poufność, profesjonalizm, ponad 15-letnie
        doświadczenie oraz indywidualne podejście do klienta to nasze atuty.
        Oferujemy pomoc w każdej sprawie. Sprawa Klienta staje się naszą wspólną
        sprawą.
      </p>

      <div class="flex flex-wrap justify-center mt-8 gap-4">
        <ContactButton />
      </div>
    </div>
  </div>
</header>
