<div class="mapouter">
              <h3 class="text-white font-5xl pb-5">Na razie jest tylko wstawiona framka, ona będzie jeszcze ładnie ułożona, na razie chcę pokazać że wszystko już jest</h3>
              <div class="gmap_canvas">
                <iframe
                  width="1000"
                  height="600"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=jaran&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"></iframe><a href="https://123movies-to.org"
                ></a><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 600px;
                    width: 1000px;
                  }
                </style><a href="https://www.embedgooglemap.net"
                  >html code for google maps</a
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 600px;
                    width: 1000px;
                  }
                </style>
              </div>
            </div>