---
import { Image } from "@astrojs/image/components";
---

<nav id="mynav" class="fixed w-full z-50 top-0 opacity-90">
  <div
    class="w-full sm:w-5/6 mx-auto flex items-start justify-between mt-0 py-5"
  >
    <div class="ml-0 py-auto flex flex-row">
      <a href="/en">
        <Image
          width={[250]}
          height={[60]}
          format={"webp"}
          src="logo-stare.png"
          alt="logo"
          class="object-fill t-0 my-auto w-8/12 sm:w-10/12 pl-10 xl:pl-0 pt-5 sm:pt-9"
        />
      </a>
      <a
        href="/en"
        class="py-3 absolute pt-3 ml-48 sm:ml-60 lg:ml-60 xl:ml-52 sm:pt-8"
        ><Image
          format={"webp"}
          alt="logo"
          src="/pajak.png"
          width={[50]}
          height={[50]}
        />
      </a>
    </div>

    <div class="flex flex-col items-end pt-5">
      <div class="block xl:hidden pr-4">
        <button
          id="nav-toggle"
          class="flex items-center px-4 mx-4 py-3 border rounded text-gray-200 border-gray-200 hover:text-gray-100 hover:border-grey-100 appearance-none focus:outline-none"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>

      <div
        class="pr-4 xl:pr-0 hidden w-full items-center flex-grow xl:flex xl:items-center xl:w-auto xl:mt-0 z-20"
        id="nav-content"
      >
        <ul
          class="xl:flex text-lg md:text-xl font-medium justify-end flex-1 xl:text-center text-end"
        >
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/detective"
              >Detective
            </a>
          </li>
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/debt-collection">Debt collection</a
            >
          </li>
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/business-intelligence">Business intelligence</a
            >
          </li>
          <li class="mx-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/business-protection">Business protection</a
            >
          </li>
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/pricing">Pricing</a
            >
          </li>
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
              href="/contact">Contact</a
            >
          </li>
          <li class="mr-3 my-3 xl:w-28 place-self-center">
            <a
              href="/"
              class="inline-block text-gray-100 no-underline hover:text-red-600 py-2 px-4 link"
            >
              <svg
                width="50px"
                height="5-px"
                viewBox="0 0 36 36"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--twemoji"
                preserveAspectRatio="xMidYMid meet"
                ><path
                  fill="#EEE"
                  d="M32 5H4a4 4 0 0 0-4 4v9h36V9a4 4 0 0 0-4-4z"></path><path
                  fill="#DC143C"
                  d="M0 27a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4v-9H0v9z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script defer>
  let scrollcheck = 1000;
  document.getElementById("nav-toggle").onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
    document.getElementById("mynav").classList.add("bg-gray-900");
    if (scrollcheck === 1000) {
      scrollcheck = 0;
    } else {
      scrollcheck = 1000;
    }
  };
  document.addEventListener("scroll", function (e) {
    let currentScroll = window.scrollY + window.innerHeight;
    if (currentScroll >= scrollcheck) {
      document.getElementById("mynav").classList.add("bg-gray-900");
    }
  });
  document.addEventListener("scroll", function (e) {
    let currentScroll = window.scrollY + window.innerHeight;
    if (currentScroll <= scrollcheck) {
      document.getElementById("mynav").classList.remove("bg-gray-900");
    }
  });
</script>
