<nav class="bg-RussianVelvet">
  <div class="px-4 mx-auto max-w-screen-xl sm:px-8 lg:px-8">
    <div
      class="w-full mx-auto flex flex-wrap items-center justify-between mt-0 h-24"
    >
        <a class="block items-center gap-12" href="index.html">
          <img src="Logo.png" class="w-32 h-24" alt="Logo jaran" />
        </a>

      <div aria-labelledby="header-navigation">
        <h2 class="sr-only" id="header-navigation">Header navigation</h2>

        <ul class="hidden md:flex items-center text-base gap-6 text-center">
          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Detektyw
            </a>
          </li>

          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Windykacja
            </a>
          </li>

          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Informacja<br />Gospodarcza
            </a>
          </li>

          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Ochrona<br />biznesu
            </a>
          </li>

          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Cennik
            </a>
          </li>

          <li>
            <a
              class="text-NavajoWhite transition hover:text-NavajoWhite/75"
              href="/"
            >
              Kontakt
            </a>
          </li>
        </ul>
        <div class="block md:hidden">
          <button
            id="nav-toggle"
            class="p-2 text-NavajoWhite bg-RussianVelvet rounded transition hover:text-NavajoWhite/75"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-8 h-8"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<script defer>
  document.getElementById("nav-toggle").onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  };
  
</script>