---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/ContactSidebar.astro";
import Map from "../components/Map.astro";
import { Image } from "@astrojs/image/components";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
        <link rel="icon" type="image/ico" sizes="16x16" href="/favicon.ico">
    <meta
      name="google-site-verification"
      content="cy2LBn3YlupNGqpHEm_bKVFq70NARt2VTHNYb_kHo_w"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Biuro detektywistyczne z ponad 16 letnim doświadczeniem. Dyskretne obserwacje, Sprawy Rodzinne i Firmowe. Dyskrecja i skuteczność"
    />

    <meta property="og:title" content="JARAN Biuro detektywistyczne" />
    <meta
      property="og:description"
      content="Biuro detektywistyczne z ponad 16 letnim doświadczeniem. Dyskretne obserwacje, Sprawy Rodzinne i Firmowe. Dyskrecja i skuteczność"
    />
    <meta property="og:image" content="TO DO" />
    <meta property="og:url" content="TO DO" />

    <meta name="twitter:title" content="JARAN Biuro detektywistyczne" />
    <meta
      name="twitter:description"
      content="Biuro detektywistyczne z ponad 16 letnim doświadczeniem. Dyskretne obserwacje, Sprawy Rodzinne i Firmowe. Dyskrecja i skuteczność"
    />
    <meta name="twitter:url" content="TODO" />
    <meta name="twitter:card" content="biuro detektywistyczne" />

    <title>{"JARAN Prywatne biuro detektywistyczne Warszawa"}</title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-V3QBP09EY8"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-V3QBP09EY8");
  </script>

  <body class="font-serif static bg-gray-900 h-full">
    <Nav />
    <section class="bg-gray-900">
      <div
        class="absolute z-20 flex flex-col w-full pt-3 sm:pt-12 md:pt-12 top-24 sm:top-24 lg:top-28 xl:top-48"
      >
        <h1
          class="text-4xl sm:text-5xl lg:text-7xl -mb-5 sm:mb-0 lg:mb-0 font-thin text-gray-300 mx-auto text-center leading-tight"
        >
          {Astro.props.title}
        </h1>
      </div>
      <div
        class="z-10 absolute sm:-top-16 md:-top-24 lg:-top-32 xl:-top-40 2xl:-top-48 mx-auto"
      >
        <picture class={Astro.props.clss} class="object-fill mx-auto">
          <Image
            class="brightness-150"
            src={Astro.props.imgsrc}
            format={"webp"}
            alt="Zdjęcie starego telefonu"
            height={"1000"}
            width={"1920"}
          />
        </picture>
      </div>

      <div
        class="absolute z-10 w-full mt-[200px] sm:mt-[285px] md:mt-[282px] lg:mt-[376px] xl:mt-[470px] 2xl:mt-[564px] flex flex-col bg-gray-900"
      >
        <div class="flex flex-row">
          <div class="lg:pl-20 md:px-10 flex w-full">
            <div class="text-gray-300 lg:px-6 lg:w-10/12 text-center">
              <section>
                <div
                  class="flex flex-col items-center px-10 xl:pb-16 pt-8 text-left w-10/12"
                >
                  <slot />
                </div>
              </section>
              <div class=" w-full mx-auto pt-24">
                <Form />
              </div>
            </div>
          </div>
          <div class="pt-12 pb-72">
            <Sidebar />
          </div>
        </div>
        <div class="flex flex-col mx-auto">
          <div class="flex py-20">
            <Map />
          </div>
          <Footer />
        </div>
      </div>
    </section>
  </body>
</html>
