---
import ContactButton from "../components/ContactButton.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{"JARAN Prywatne biuro detektywistyczne Warszawa"}</title>
  </head>

  <body class="font-[Roboto] static">
    <Nav />
    <section class="bg-gray-900">
      <div class="absolute z-20 flex flex-col w-full top-24 sm:top-24 lg:top-28 xl:top-48">
        <h1 class="text-5xl sm:text-5xl lg:text-7xl -mb-5 sm:-mb-0 lg:mb-0 font-thin text-gray-300 mx-auto leading-tight">
          {Astro.props.title}
        </h1>
        <ContactButton />
      </div>
      <div
        class="z-10 absolute sm:-top-16 md:-top-24 lg:-top-32 xl:-top-40 2xl:-top-48 mx-auto"
        class=""
      >
        <img
          src={Astro.props.imgsrc}
          class="brightness-50 object-contain mx-auto"
        />
      </div>
      
      <div
        class="absolute z-10 w-full mt-[235px] sm:mt-[285px] md:mt-[282px] lg:mt-[376px] xl:mt-[470px] 2xl:mt-[564px] flex flex-col bg-gray-900"
      >
        <div class="flex flex-row">
          <article class="container md:pl-24 flex w-full">
            <div class="container text-gray-300 lg:px-6 w-10/12">
              <section>
                <div
                  class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8"
                >
                  <div
                    class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue"
                  >
                    <div class="w-full mx-auto">
                      <slot />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
          <Sidebar />
        </div>
        <Form />
        <Footer />
      </div>
    </section>
  </body>
</html>
